#btn-container{
    border-bottom: 2px solid gray;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}

#gifs-go-here{
    align-content: space-around;
}

#addBtn{
    text-align: center;
}

.gifBtn, #submit{
    background-color: gray;
    color: black;
    padding: 8px;
    margin: 3px;
    border-radius: 8px;
}

.gifDiv{
    display: inline-block;
    border: 2px solid gray;
    margin: 5px;
    padding: 5px;
    background-color: black;
    text-align: center;
}

#newBtnText{
    max-width: fit-content;
    min-width: fit-content;
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 10px;
}

.addTen{
    background-color: gray;
    color: black;
    padding: 15px;
    border-radius: 8px;
    margin: auto 26%;
    margin-bottom: 10px;
}

.image{
    margin: 5px;
}

.rating{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

body{
    background-color: rgb(201, 185, 188);
}

.formDiv{
    margin: auto 26%;
}
